<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A little about myself</title>

</head>
<body> <!-- Brief introduction about myself -->
    <h1> A journey </h1>
    <h2> Before the US </h2>
    <p> I grew up in <strong>Hochiminh city </strong>during an <em>economic boom</em> that sent waves across Asia.
        Witnessing these dramatic changes made me realize the importance of economic growth</p>
    <h2> After the US </h2>
    <p> Shortly after arriving at the <strong>US</strong>, I immediately understand why this is the <em>country of dreamers</em>.
        The US business law promotes entrepreneurship, innovation and ideas</p>

    <p> Theses are my favourite courses:</p>
    <ul>
        <li> BMGT430</li>
        <li> BMGT431</li>
        <li> BUDT340</li>
    </ul>
    <p> Theses are courses that I have highest grades:</p>
    <ol>
        <li> BUDT703</li>
        <li> BUDT704</li>
        <li> BMGT737</li>
    </ol>
    <!-- These classes are just random -->
    <p> These are my best classes</p>
    <table>
        <tr>
            <th> Course</th>
            <th> Semester</th>
        </tr>
        <tr>
            <td> BMGT431</td>
            <td> Fall 2022</td>
        </tr>
        <tr>
            <td> BMGT340</td>
            <td> Spring 2022</td>
        </tr>
    </table>
    <!-- A few useful links for visitors! -->
    <p> This is the link to my <a href="hello.html"> Hello World</a> .</p>
    <p> The website I use to watch video is <a href="https://youtube.com"> Youtube</a></p>
    <p> The website I use to look for information is <a href="https://google.com" target="_blank"> Google</a></p>
    <p>This is the logo of my school</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" width="250" height="80">


</body>
</html>

{% extends base_design.html %}

{% block page_title %} Favorite Course {%  endblock %}

{% block page_head %} Favourite Course Selection {% endblock %}

<body>
<h1>Hello There!</h1>
<p> You entered your favourite course as: {{ request.args.get('subject')}} {{ request.args.get('course_number')}} </p>
</body>