{% extends "base.html" %}

{% block page_title %}

{% endblock %}

{% block page_head %}

{% endblock %}

{% block page_content %}
<body>
  <div class="container">
    <p>Welcome to your training for the TerpSys Student Information System</p>
    <p>Training materials are currently under construction, but will be created very soon. Please check back soon or email Tuan Nguyen at <a href="mailto:nntuan87@terpmail.umd.edu">nntuan87@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
  </div>


</body>

{% endblock %}