{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Terp Training
{% endblock %}

<body>
  <div class="container">
    <h1>Welcome to your training for the TerpSys Student Information System</h1>
    <p>Training materials are currently under construction, but will be created very soon. Please check back soon or email Tuan Nguyen at <a href="mailto:nntuan87@terpmail.umd.edu">nntuan87@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>